import(graphics)
import(stats)
import(utils)
import(MASS)
import(magrittr)
import(Matrix)

export(initializeRdsObject)
export(Estimate.b.k)
export(getTheta)
export(makeRdsSample)
export(thetaSmoothingNks)
export(rdsObjectJacknife)
export(makeJackControl)

