import(graphics)
import(stats)
import(utils)

export(initializeRdsObject)
export(Estimate.b.k)
export(ReEstimate.b.k)
export(getTheta)
export(makeRdsSample)
export(thetaSmoothingNks)
export(rdsObjectJacknife)
export(makeJackControl)

import(MASS)
import(magrittr)
