#import(graphics)
#import(stats)
#import(utils)
importFrom(MASS, rlm)
importFrom(Matrix, sparseMatrix)

export(initializeRdsObject)
export(Estimate.b.k)
export(getTheta)
export(makeRdsSample)
export(thetaSmoothingNks)
export(rdsObjectJacknife)
export(makeJackControl)

